body{
    background-color: dimgray;
    color: white;
    }
    #container{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    }
    header{
    width:1200px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    font-size:30px;
    background-color:blue;
    }
    footer{
    width:1200px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    font-size:30px;
    clear: both;
    background-color: blue;
    }
    nav{
    width: 1200px;
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    display: inline-block;
    }
    #content{
    width: 1200px;
    text-align: center;
    text-align: justify;
    float: left;
    }
    .red{
    color: red;
    }
    ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: 30px;
    display: block;
    }
    ol a{
    color: white;
    text-decoration: none;
    display: block;
    }
    ol>li{
    float: left;
    width: 200px;
    height: 35px;
    border-right: 2px dotted #595959;
    }
    ol>li:first-child{
    border-left: 2px dotted #595959;
    }
    ol>li:hover{
    background-color:#AAAAAA;
    color:#333333;
    }

    ol>li:hover a{
        background-color:#AAAAAA;
        color:#333333;
        }
   

    ol > li > ul {
        list-style-type:none;
        padding: 0px;
        margin: 0px;
        display: none; 
    }

    ol > li > ul > li {
        background-color: #AAAAAA;
        position: relative;
        z-index: 50px;
        height: 30px;
        padding: 5px;
        border-top: 1px dotted #333;     
    }

    ol > li > ul >li:hover {
        background-color: #989898;

    }

    ol > li > ul >li:hover a {
        color: #333;

    }

    ol > li:hover > ul {
        display: block;
    }