#container {
    width: 400px;
    height: 500px;
    background-color: #888888;
}

#output {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 75px;
    background-color: red;
}

#display {
    width: 380px;
    height: 55px;
    border: 0px;
    margin: 0px;
    padding: 10px;
    background-color: lightblue;
    font: 25px consolas;
}

#buttons {
    height: 425px;
    width: 400px;
    background-color: yellowgreen;
}

.button {
    float: left;
    margin: 0px;
    width: 100px;
    height: 85px;
    border: 0px;
    padding: 0px;
    font: 30px consolas;
}

.button:hover {
    background-color: #777;
}

#equal {
    width: 400px;
    background-color: #888;
}

#equal:hover {
    color: red;
}